<form autocomplete="off">
    <div class="form-group">
        <label>{{label}}</label>
        <div class="number-input-spinner">
            <button type="button" class="tnx-btn" data-action="decrement" aria-label="Decrease">-</button>
            <input type="number" name="amount" value="{{initialValue}}" min="{{min}}" max="{{max}}">
            <button type="button" class="tnx-btn" data-action="increment" aria-label="Increase">+</button>
        </div>
    </div>
</form>
