<form autocomplete="off">
    <div class="form-group">
        <label>配布先</label>
        <div class="form-fields">
            <select name="userId" autofocus>
                {{#each users}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>カード</label>
        <div class="form-fields">
            <select name="cardId">
                {{#each cards}}
                <option value="{{this.id}}">{{this.label}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</form>